html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}

header {
  background-color: orange;
  display: inline-flex;
  width: 100%;
}

#hamSiteDirectory {
  padding: 15px;
}
nav ul {
  display: none;
}
#logoArea {
  width: 100%;
  text-align: center;
  line-height: 50px;
}
nav ul li {
  display: inline-flex;
  padding: 15px;
}
.logoLogin {
  float: right;
  padding: 15px;
}
/* 
Media query with a smallish min-width breakpoint
e.g. @media (min-width: 400px)
 
Media query with a slightly larger min-width breakpoint
e.g. @media (min-width: 600px)
 
Media query with a larger still min-width breakpoint
e.g. @media (min-width: 960px) */

@media (min-width: 480px) {
  nav ul li {
    display: inline-flex;
    padding: 5px;
  }
  nav ul li a {
    text-decoration: none;
    color: black;
  }
  .aboutSect p {
    margin-bottom: 0;
  }
  #about h1 {
    font-size: 35px;
    background-color: green;
  }
  #about h1,
  #how2Help h2 {
    text-align: center;
  }
  #about {
    background-color: lightgreen;
  }
  #how2Help h2 {
    background-color: red;
  }
  #how2Help {
    background-color: lightcoral;
  }
  #how2Volunteer h2 {
    background-color: orange;
  }
  #how2Volunteer {
    background-color: lightsalmon;
  }
  /* #how2Help {
    background-color: lightcoral;
  } */

  article p {
    padding: 10px 50px;
    text-align: left;
  }
  article ol {
    width: 70%;
    margin-left: 15%;
  }
}
@media (min-width: 600px) {
}

@media (min-width: 960px) {
  nav ul {
    display: block;
  }
}
