html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}
.wrapper {
  padding: 20px 0 0 0;
}

a:hover {
  text-decoration: none;
}
/*header component styling*/

header nav {
  float: right;
  margin: auto;
  display: none;
}
nav ul {
  margin: auto;
}
#headerNav {
  background-color: orange;
  display: inline-flex;
  width: 100%;
  text-align: center;
}

.logoArea {
  width: 60%;
  margin: auto;
}

#hamSiteDirectory {
  float: left;
  margin: auto;
}
#hamSiteDirectory:hover {
  cursor: pointer;
}

.dropMenu {
  display: none;
  display: absolute;
  height: 900px;
  width: 100%;
  background-color: white;
  color: black;
}
.dropMenu li,
.dropMenu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 25px;
}
.dropMenu li {
  width: 80%;
  margin-left: 10%;
  padding: 10px 0 10px 0;
  border-bottom: 1px solid black;
}
.dropMenu a {
  text-decoration: none;
  color: black;
}
nav ul {
  display: none;
}
#logoArea {
  text-align: center;
  line-height: 50px;
  text-decoration: none;
  color: black;
  margin: auto;
}
nav ul li {
  display: inline-flex;
  padding: 15px;
}
#logoLogin {
  float: right;
  margin: auto;
  text-decoration: none;
  color: black;
  cursor: pointer;
}
nav ul li {
  display: inline-flex;
  padding: 5px;
}
nav ul li a {
  text-decoration: none;
  color: black;
}

/* main app.js component sectino */
.aboutSect p {
  margin-bottom: 0;
}
#about h1 {
  font-size: 35px;
}
#about h1,
#how2Help h2,
#how2Volunteer h2 {
  text-align: center;
  padding: 20px 0 20px 0;
}
#about p {
  padding: 0 20px 20px 20px;
}
#how2Help {
  background-image: url("./images/land.jpg");
  background-position: top center;
  background-size: cover;
}
.siteInstructions ol {
  font-family: "Montserrat", "Century Gothic", Verdana, sans-serif;
  color: #ff5533;
  font-size: 35px;
  font-weight: 1000;
  list-style-type: none;
  padding: 0;
  text-align: center;
}
.siteInstructions li {
  border: 3px solid white;
  background-color: rgba(246, 246, 233, 0.8);
  padding: 10px 0 10px 0;
  border-radius: 20px;
}
#how2Volunteer li {
  background-color: rgba(161, 186, 208, 0.5);
}
.siteInstructions li:nth-child(n + 2) {
  margin-top: 30px;
}
.siteInstructions li h4 {
  color: #ff5533;
  font-size: 20px;
  padding: 0 10px 0 10px;
}

#how2Volunteer {
  background-image: url("./images/imge.jpg");
  background-position: bottom right;
}

.siteInstructions p {
  padding: 30px;
  background-color: rgba(246, 246, 233, 0.8);
}
#how2Volunteer p {
  background-color: rgba(246, 246, 233, 0.6);
}
article ol {
  width: 70%;
  margin-left: 15%;
}
.joinBox {
  width: 60%;
  margin: auto;
  border: 2px solid white;
  border-radius: 10px;
  padding: 20px;
  background-color: rgba(235, 237, 236, 0.9);
  text-align: center;
}
.joinBox:hover {
  background-color: rgba(162, 169, 175, 1);
}
.joinBox:active {
  background-color: grey;
  color: white;
}

#userAction {
  padding: 20px 0 20px 0;
  background-image: url("./images/cartooon.JPG");
  background-position: bottom center;
}
#userAction a {
  text-decoration: none;
  color: black;
}

/* carousel component section */
#slideOneTitle {
  position: absolute;
  width: 100%;
  bottom: 50px;
  color: white;
  background: rgba(1, 73, 85, 0.7);
  text-align: center;
  font-size: 40px;
}

/* footer component section */
footer {
  width: 100%;
  padding: 40px 0 40px 0;
  background-color: black;
  color: white;
  text-align: center;
}

/* form signup page */

form {
  padding: 20px 0 70px 0;
}
.formTitle h1 {
  text-align: center;
  font-size: 30px;
  padding: 20px;
}

form input,
select {
  text-align: left;
  margin: 20px;
  width: 90%;
  font-size: 25px;
  margin-left: 5%;
  display: block;
}
form input:focus {
  background-color: rgba(245, 244, 232, 0.6);
}

/* form signin page */
.signInContainer {
  padding: 50px 0 100px 0;
}
#signin input {
  margin: 0 0 10px 5%;
}
#signin input[type="submit"] {
  margin-top: 40px;
}
#signin label {
  margin-left: 5%;
}

/* form createEvent */
.eventSectionInfo input {
  margin: 10px 0 0 0;
}
.eventSectionInfo label {
  margin-left: 5%;

  width: 100%;
}

/* CREATE EVENT PAGE
 */

#createEventHeader {
  padding: 20px;
}
#createEvent {
  padding: 20px;
}
#radioSection {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.rad {
  display: inline-block;
  text-align: center;
  width: 33.33%;
  flex: 1;
}

/* //EVENT SORT */
#eventGroup h3 {
  text-align: center;
  padding: 20px;
}
.eventList {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0px 0 30px 0;
}
.card {
  width: 95%;
  margin: 20px auto;

  box-shadow: 1px 1px 3px #888888;
}
.cardTitle {
  padding: 0 10px 0 10px;
  border-bottom: 1px solid black;
}
.cardTitle h4 {
  padding: 5px;
}
.cardBody {
  padding: 10px;
}
.leftCardBody {
  width: 100%;
  float: left;
  padding: 2px;
}
.rightCardBody {
  /* width: 39%; */
  float: right;
  position: absolute;
  right: 15px;
  padding: 2px;
  text-align: right;
}
.rightCardBody li {
  list-style-type: none;
}

/* usermainpage */
hr {
  width: 80%;
}
#actionBoxContainer {
  width: 100%;
  padding: 30px 0 30px 0;
  display: flex;
  text-align: center;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;

  align-self: center;
}
.actionBox {
  border: 1px solid rgba(6, 6, 8, 0.3);
  height: 100px;
  width: 30%;
  padding-top: 30px;
  box-shadow: 1px 1px 3px #888888;
}
#actionBoxContainer a {
  text-decoration: none;
  /* text-decoration-color: black; */
  color: black;
}
.welcomeArea {
  padding: 20px;
}
.showEventList {
  width: 90%;
  margin: auto;
  border: 1px solid rgba(6, 6, 8, 0.1);
  box-shadow: 1px 1px 3px #888888;
  text-align: left;
  background-color: rgba(6, 6, 8, 0.1);
  padding: 15px;
}
.eventListContainer {
  width: 90%;
  margin: auto;
  border: 1px solid rgba(6, 6, 8, 0.1);
  box-shadow: 1px 1px 3px #888888;
  text-align: left;
  background-color: rgba(6, 6, 8, 0.1);
  padding: 15px;
}

.joinBtn {
  width: 80%;
  margin: 30px auto 0 auto;
  border: 0.5px solid black;
  text-align: center;
  padding: 5px;
  background-color: rgba(246, 246, 233, 0.4);
  box-shadow: 1px 1px 1px #888888;
}
.joinBtn:hover {
  cursor: pointer;
}
.showEventList {
  cursor: pointer;
}
.showEventList h5 {
  text-align: center;
}
.showEventList i {
  margin-top: 0;
  text-align: center;
  font-size: 40px;
  width: 100%;
  text-align: center;
}
.eventCards {
  width: 100%;
}

/* not logged page */
/* #create not logged */
#eventGroupNoLog,
#eventListNoLog {
  text-align: center;
  padding-top: 100px;
}
.createNotLogged,
.eventListNotLogged {
  text-align: center;
  margin-top: 50px;
}

.createNotLogged > a,
.eventListNotLogged > a {
  padding: 7px 20px;
  background: rgba(235, 237, 236, 0.9);
  display: block;
  margin: 10px auto;
  width: 200px;
  color: black;
}

/* .rightCardBody .leftCardBody {
  display: inline-block;
} */
/* 
Media query with a smallish min-width breakpoint
e.g. @media (min-width: 400px)
 
Media query with a slightly larger min-width breakpoint
e.g. @media (min-width: 600px)
 
Media query with a larger still min-width breakpoint
e.g. @media (min-width: 960px) */

@media (min-width: 480px) {
}
@media (min-width: 778px) {
  .carousel-inner {
    height: 100%;
  }
  .bannerImg {
    width: 50% !important;
    margin: auto;
  }
  #slideOneTitle {
    width: 70%;
    margin: auto;
    position: relative;
  }
  #userAction {
    background-size: cover;
    background-repeat: no-repeat !important;
  }
}

@media (min-width: 960px) {
  nav ul {
    display: block;
  }
  header nav {
    display: inline-block;
  }
  .signInContainer {
    padding: 50px 0 100px 0;
    width: 33%;
    margin-left: 33%;
  }
}
