html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}
.wrapper {
  padding: 20px 0 0 0;
}

/*header component styling*/
#headerNav {
  background-color: orange;
  display: inline-flex;
  width: 100%;
}

#hamSiteDirectory {
  padding: 15px;
}

.dropMenu {
  display: none;
  display: absolute;
  height: 900px;
  width: 100%;
  background-color: white;
  color: black;
}
.dropMenu li,
.dropMenu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 25px;
}
.dropMenu li {
  width: 80%;
  margin-left: 10%;
  padding: 10px 0 10px 0;
  border-bottom: 1px solid black;
}
.dropMenu a {
  text-decoration: none;
  color: black;
}
nav ul {
  display: none;
}
#logoArea {
  width: 100%;
  text-align: center;
  line-height: 50px;
  text-decoration: none;
  color: black;
}
nav ul li {
  display: inline-flex;
  padding: 15px;
}
#logoLogin {
  float: right;
  padding: 15px;
  text-decoration: none;
  color: black;
  cursor: pointer;
}
nav ul li {
  display: inline-flex;
  padding: 5px;
}
nav ul li a {
  text-decoration: none;
  color: black;
}

/* main app.js component sectino */
.aboutSect p {
  margin-bottom: 0;
}
#about h1 {
  font-size: 35px;
}
#about h1,
#how2Help h2,
#how2Volunteer h2 {
  text-align: center;
  padding: 20px 0 20px 0;
}
#about p {
  padding: 0 20px 20px 20px;
}
#how2Help {
  background-image: url("./images/land.jpg");
  background-position: top center;
  background-size: cover;
}
.siteInstructions ol {
  font-family: "Montserrat", "Century Gothic", Verdana, sans-serif;
  color: #ff5533;
  font-size: 35px;
  font-weight: 1000;
  list-style-type: none;
  padding: 0;
  text-align: center;
}
.siteInstructions li {
  border: 3px solid white;
  background-color: rgba(246, 246, 233, 0.8);
  padding: 10px 0 10px 0;
  border-radius: 20px;
}
#how2Volunteer li {
  background-color: rgba(161, 186, 208, 0.5);
}
.siteInstructions li:nth-child(n + 2) {
  margin-top: 30px;
}
.siteInstructions li h4 {
  color: #ff5533;
  font-size: 20px;
  padding: 0 10px 0 10px;
}

#how2Volunteer {
  background-image: url("./images/imge.jpg");
  background-position: bottom right;
}

.siteInstructions p {
  padding: 30px;
  background-color: rgba(246, 246, 233, 0.8);
}
#how2Volunteer p {
  background-color: rgba(246, 246, 233, 0.6);
}
article ol {
  width: 70%;
  margin-left: 15%;
}
.joinBox {
  width: 60%;
  margin: 20px 0 20px 20%;
  border: 2px solid white;
  border-radius: 10px;
  padding: 20px;
  background-color: rgba(235, 237, 236, 0.9);
  text-align: center;
}
.joinBox:hover {
  background-color: rgba(162, 169, 175, 1);
}
.joinBox:active {
  background-color: grey;
  color: white;
}

#userAction {
  padding: 20px 0 20px 0;
  background-image: url("./images/cartoon.png");
  background-position: bottom center;
}
#userAction a {
  text-decoration: none;
  color: black;
}

/* carousel component section */
#slideOneTitle {
  position: absolute;
  width: 100%;
  bottom: 50px;
  color: white;
  background: rgba(1, 73, 85, 0.7);
  text-align: center;
  font-size: 40px;
}

/* footer component section */
footer {
  width: 100%;
  padding: 40px 0 40px 0;
  background-color: black;
  color: white;
  text-align: center;
}

/* form signup page */

form {
  padding: 20px 0 70px 0;
}
.formTitle h1 {
  text-align: center;
  font-size: 30px;
  padding: 20px;
}

form input,
select {
  text-align: left;
  margin: 20px;
  width: 90%;
  font-size: 25px;
  margin-left: 5%;
  display: block;
}
form input:focus {
  background-color: rgba(245, 244, 232, 0.6);
}

/* form signin page */
.signInContainer {
  padding: 50px 0 100px 0;
}
#signin input {
  margin: 0 0 10px 5%;
}
#signin input[type="submit"] {
  margin-top: 40px;
}
#signin label {
  margin-left: 5%;
}

/* form createEvent */
.eventSectionInfo input {
  margin: 10px 0 0 0;
}
.eventSectionInfo label {
  margin-left: 5%;

  width: 100%;
}
/* 
Media query with a smallish min-width breakpoint
e.g. @media (min-width: 400px)
 
Media query with a slightly larger min-width breakpoint
e.g. @media (min-width: 600px)
 
Media query with a larger still min-width breakpoint
e.g. @media (min-width: 960px) */

@media (min-width: 480px) {
}
@media (min-width: 600px) {
}

@media (min-width: 960px) {
  nav ul {
    display: block;
  }
}
